name: 构建answer镜像

on:
  push:
    branches: 
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: 设置QEMU
      uses: docker/setup-qemu-action@v3
      
    - name: 设置Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: 登录到GitHub容器仓库 
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: 复制answer文件到工作目录
      run: |
        docker create --name my_temp_container apache/answer:1.2.0
        docker cp my_temp_container:/usr/bin/answer .
        docker rm my_temp_container
        ls -lh

    - name: 构建并推送
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        platforms: linux/arm64/v8,linux/amd64
        push: true 
        tags: ghcr.io/${{ github.repository }}:latest
